@import "base";
@import "utils";

.mainProgressBar {
  background-color: $light-green-color;
}

.bodyProgressBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto 20%;
}

.boxProgressBar {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 60%;
  gap: 1rem;
  padding: 1rem;
}

.descriptionProgressBar {
  position: absolute;
  top: 0;
  text-align: center;
}

@mixin numberProgressBar {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  height: .5rem;
  background-color: $dark-green-color;
  z-index: 1;
}

.numberProgressBarActive {
  @include numberProgressBar;
  background-color: $dark-green-color;
  color: $white;
  border: 1px solid $dark-green-color;
}

.numberProgressBarPrevious {
  @include numberProgressBar;
  background-color: $dark-green-color;
  color: white;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.numberProgressBarNext {
  @include numberProgressBar;
  background-color: $btn-bg-disabled;
  border: 1px solid $btn-bg-disabled;
  color: $white;
}

.lineProgressBar {
  position: absolute;
  width: 40%;
}

.indicatorProgressBar {
  height: .2rem;
  appearance: none;
  width: 100%;
}

.indicatorProgressBar::before {
  background: $white;
  border: 1px solid $white;
}

.indicatorProgressBar {
  background: $white;
  border: 1px solid $white;

  /*Chrome and safari */
  &::-webkit-progress-bar {
    background: white;
  }

  &::-webkit-progress-value {
    background: $dark-green-color;
  }

  /*Firefox */
  &::-moz-progress-bar {
    background-color: $dark-green-color;
  }
}

