$text-color: #313131;
$step-color: #788f9c;
$step-hover-color: #3b6a86;
$green-color: #1ec86c;
$light-green-color: #9cdcb9;
$dark-green-color: #07542a;

$white: #FFFFFF;
$black: #000000;
$red: red;

$dark-success: #07542a;
$dark-warning: #ffcc00;
$dark-danger: red;

$marked-end-line: #e1e2d7;

$btn-bg: #07542a;
$btn-bg-disabled: #b5b5af;